h1 {
    text-align: left;
    font-size: 55;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    color: white;
    background-color: black;
}
h2 {
    text-align: center;
    font-size: 30;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color:darkviolet;
    font-weight: lighter;
}
h3 {
    text-align: right;
    font-size: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    color: black;
    background-color:lightskyblue;

}